<!doctype html>
<html lang="de">
    <head>
        <title> Meine Website</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,0">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header>
            <!-- das ist die Kopfzeile-->
            <h1>Startseite meiner Website</h1>
        </header>
        <nav>
            <!-- das ist die Navigation -->
        </nav>
        <article>
            <!--das ist der Inhaltsbereich-->
            <h2>Überschrift des Inhaltes</h2>
            <p>Ganz viel inhatlicher Text.....</p>
            <img src="bilder/kuromi.jpeg" alt="Das ist Kuromi">
        </article>
        <div>
        </div>
        <footer>
            <!-- das ist die Fußzeile-->
            &copy; 2023 Craciun
        </footer>
    </body>
</html>